<!--header-->
<header>
  <nav class="nav-extended">
    <div class="nav-wrapper blue-grey darken-2">
      <!--btn sidenav-->
      <button mz-button class="btnSideNav" id="btn-sidenav-demo">
        <i class="material-icons">menu</i>
      </button><!--/btn sidenav-->

      <a routerLink="/home" class="brand-logo">
        <img src="assets/img/adscreen.png">
      </a>
      <!--menu-->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a  routerLink="/adscreen">Link</a></li>
        <li><a href="javascript:;">link</a></li>
      </ul><!--menu-->
    </div>  
  </nav>
</header><!--/header-->

