<!--nav tab-->
<nav class="nav-extended">
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active" href="#dashboard">Dashboard</a></li>
      <li class="tab"><a href="#estadoEquipos">Estado de equipos</a></li>
      <li class="tab"><a href="#adscreen">Adscreen</a></li>
      <li class="tab disabled"><a href="#test3">test</a></li>
    </ul>
  </div>
</nav><!--nav tab-->



<!--dashboard tab-->
<div id="dashboard" class="col s12">
  <app-dashboard></app-dashboard>
</div><!--/dashboard tab-->

<!--estadoEquipos-->
<div id="estadoEquipos" class="col s12">
  
    <app-estado-equipos></app-estado-equipos>
</div><!--/estadoEquipos tab-->

<!--adscreen-->
<div id="adscreen" class="col s12">
  <app-adscreen></app-adscreen>
</div><!--/adscreen tab-->

<div id="test3" class="col s12">Test 3</div>